<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281953298013-1f3tbpvpk69lk9tvlchuohhcji3sulqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281953298013-1f3tbpvpk69lk9tvlchuohhcji3sulqr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>281953298013-bgebk6l92slv7c7s6s6tf7rq16kpmlas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhQvuqx0QGF5AzA1aRE5L7E1MOxk9-8Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>281953298013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.govtapp</string>
	<key>PROJECT_ID</key>
	<string>govtapp-f848b</string>
	<key>STORAGE_BUCKET</key>
	<string>govtapp-f848b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281953298013:ios:9dbeb4ed9c1233fc714fb4</string>
</dict>
</plist>